.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
body {
  margin: 0;
  padding: 0;
  background: #121212;
}
.inputs {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1b24;
}

.inputs input {
  width: 200px;
  height: 50px;
  font-size: 14px;
  margin: 10px;
  padding-left: 15px;
  background: #121212;
  border: 1px solid #121212;
  color: white;
  border-radius: 7px;
  box-sizing: border-box;
}

.inputs input:focus {
  outline: none;
  border: 0.5px solid #bb86fc;
}

.inputs button {
  border: none;
  width: 120px;
  height: 40px;
  background-color: #1f1b24;
  border: 1px solid #bb86fc;
  color: #bb86fc;
  border-radius: 5px;
  font-size: 15px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
}

.listOfFriends {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.friendContainer {
  display: flex;
  flex-direction: row;
  margin: 10px;
  font-family: "Courier New", Courier, monospace;
}

.friend {
  width: 400px;
  height: 60px;
  background-color: #1f1b24;
  color: white;
  display: flex;
}

.friend h3 {
  margin-left: 15px;
}
.friendContainer button {
  width: 80px;
  height: 60px;
  border: none;
  background-color: #1f1b24;
  color: white;
  font-family: "Courier New", Courier, monospace;
  transition: 0.3s ease;
}

.friendContainer button:hover {
  background: #bb86fc;
}

#removeBtn {
  border-left: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
